<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
  		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  		layout:decorator="fragments/layout"	>
  
  <body>	
  		<p>
  			<h2>Data access failure: <span th:text="${exception.message}">There has been an error</span></h2>
  		</p>
        <div layout:fragment="page-content">     		
			<p>
              <span th:each="st : ${exception.stackTrace}">
                at <span th:text="${st}">a.b.c.MainController.do(MainController:5)</span><br />
              </span>
            </p>            
        </div>
  </body>      
</html>