<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
  		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  		layout:decorator="fragments/layout"	>
    <!-- 
        - [THYMELEAF] In this page, we have removed the java code and converted the file into a displayable HTML one 
    -->

    
    <body>
    	<p layout:fragment="page-title">
  			<h2 th:utext="#{internal_error}">Something happened...</h2>
  		</p>
        <div layout:fragment="page-content">     		
			<img th:src="@{/resources/images/pets.png}" /> 
			<p th:text="${exception.message}">Exception Message</p>           
        </div>
                
    </body>

</html>
