<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
  		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  		layout:decorator="fragments/layout"	>
  
  <body>		
  		<p layout:fragment="page-title">
  			<h2 th:text="${pet.new} ? 'New Pet' : 'Pet'">Pet</h2>
  		</p>
        <div layout:fragment="page-content">     					
            <form th:object="${pet}" th:method="${pet.new} ? 'post' : 'put'" 
                th:action="@{#}" action="../owners/ownerDetails.html"
                class="form-horizontal"	>
                <div layout:include="tags/inputField::inputDiv" th:remove="tag" 
					th:with="label='Owner', id='owner'" >
					<div layout:fragment="controls">
						<span th:text="${pet.owner.firstName + ' ' + pet.owner.lastName}"/>
					</div>				   
				</div>
				<div layout:include="tags/inputField::inputDiv" th:remove="tag" 
					th:with="label='Name', fieldName='name'" >
					<input layout:fragment="input" th:remove="tag">
						<input type="text" th:field="*{name}" size="30" maxlength="30" />
					</input>				   
				</div> 				
				<div layout:include="tags/inputField::inputDiv" th:remove="tag" 
					th:with="label='Birth Date', fieldName='birthDate'" >
					<input layout:fragment="input" th:remove="tag">
						<input type="date" th:field="*{birthDate}" size="10" maxlength="10" placeholder="yyyy-mm-dd"/>
					</input>				   
				</div> 
				<div layout:include="tags/inputField::inputDiv" th:remove="tag" 
					th:with="id='type4', label='Type', fieldName='type'" >
					<input layout:fragment="input" th:remove="tag">
						<select th:field="*{type}">
	                    	<option th:each="t : ${types}" th:text="${t}" th:value="${t}" >option</option>
	                    </select>
					</input>				   
				</div> 	
				<div class="form-actions">
					<p class="submit" th:if="${pet.new}"><button type="submit" class="btn" data-loading-text="Adding Pet ...">Add Pet</button></p>
                    <p class="submit" th:unless="${pet.new}"><button type="submit" class="btn" data-loading-text="Updaing Pet ...">Update Pet</button></p>
				</div>
			</form>
		</div>
	</body>
</html>