<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
  		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  		layout:decorator="fragments/layout"	>
  
  <body>	
  		<p layout:fragment="page-title">
  			<h2>Owner Information</h2>
  		</p>
        <div layout:fragment="page-content">     		
			<table th:object="${owner}" class="table table-striped">
                <tr>
                    <th>Name</th>
                    <td><b th:text="${owner.firstName + ' ' + owner.lastName}">John Smith</b></td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td th:text="${owner.address}">48, Oxford Street</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td th:text="${owner.city}">London</td>
                </tr>
                <tr>
                    <th>Telephone </th>
                    <td th:text="${owner.telephone}">555-555-555</td>
                </tr>
                <tr>
                    <td>
                        <a th:href="@{'/owners/' + ${owner.id} + '/edit'}" class="btn btn-info">Edit Owner</a>
                    </td>
                    <td>
                        <a th:href="@{'/owners/' + ${owner.id} + '/pets/new'}" class="btn btn-success">Add New Pet</a>
                    </td>
                </tr>
            </table>
            
            <h2>Pets and Visits</h2>
            <div th:each="pet : ${owner.pets}" th:remove="tag">
                <table class="table">
                    <tr>
                        <td valign="top" style="width: 120px;">
                            <dl class="dl-horizontal">
                                    <dt>Name</dt>
                                    <dd><b th:text="${pet.name}">Bob</b></dd>
                                    <dt>Birth Date</dt>
                                    <dd th:text="${#dates.format(pet.birthDate.toGregorianCalendar().getTime(), 'yyyy-MM-dd')}">2000-01-02</dd>
                                    <dt>Type</dt>
                                    <dd th:text="${pet.type.name}">Dog</dd>                                
                          	</dl>
                        </td>
                        <td valign="top">
                            <table class="table-condensed">
                                <thead>
                                    <tr>
                                        <th>Visit Date</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>  
                                <tr th:each="visit : ${pet.visits}">
                                    <td th:text="${#dates.format(visit.date.toGregorianCalendar().getTime(), 'yyyy-MM-dd')}">2000-02-01</td> 
                                    <td th:text="${visit.description}">Visit to check temperature. Result: ok</td>
                                </tr>                   
                            </table>
                        </td>
                    </tr>
                </table>
                <table class="table-buttons">
                    <tr>
                        <td>
                            <a th:href="@{${owner.id} + '/pets/' + ${pet.id} + '/edit'}" href="../pets/form.html" class="btn btn-info">Edit Pet</a>
                        </td>
                        <td></td>
                        <td>
                            <a th:href="@{${owner.id} + '/pets/' + ${pet.id} + '/visits/new'}" href="../pets/visitForm.html" class="btn btn-success">Add Visit</a>
                        </td>
                        <td></td>
                        <td>
                            <a th:href="@{${owner.id} + '/pets/' + ${pet.id} + '/visits.atom'}" href="#" rel="alternate" type="application/atom+xml" class="btn btn-success">Atom Feed</a>
                        </td>
                    </tr>
                </table>
            </div>            
        </div>
  </body>      
</html>        