<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"  
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
		lang="en"	>
	
	<body layout:fragment="inputDiv">			
		<div th:id="${id==null}?'':${id}" th:class="${#strings.isEmpty(fieldName)}?'control-group':(${#fields.hasErrors(fieldName)} ? 'control-group error' : 'control-group')">
			<label class="control-label" th:text="${label}">Label</label>
			<div class="controls" layout:fragment="controls">
<!-- the following line doesn't work since it can't read th:field -->			
<!-- 				<input th:type="${fieldType}" th:field="*{fieldName}" th:name="${fieldName}" th:value="${value}" th:placeholder="${placeholder==null}?'':${placeholder}"/>   -->
				<input layout:fragment="input"></input>
				<span class="help-inline" th:if="${#fields.hasErrors(fieldName)}" th:text="${#fields.errors(fieldName)}">error</span>
			</div>			
		</div>		        
	</body>

</html>
	
