<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	lang="en"	>
	<footer class="footer" th:fragment="footer">
        <div class="container">
			<table>
	             <tr>
	               <td><a th:href="@{/}" href="welcome.html">Home</a></td>
	               <td style="float:right"><img th:src="@{/resources/images/springsource-logo.png}" src="../../images/springsource-logo.png" 
	                 alt="Sponsored by SpringSource" /></td>
	             </tr>
	        </table>
        </div>
    </footer>
  
</html>


