<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head th:fragment="header">
      	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>PetClinic :: a Spring Framework demonstration</title>		  
		<link 	th:href="@{'/webjars/bootstrap/'+#{bootstrap.version}+'/css/bootstrap.min.css'}" rel="stylesheet" type="text/css"/>
		<link 	th:href="@{'/webjars/bootstrap/'+#{bootstrap.version}+'/css/bootstrap-responsive.min.css'}" rel="stylesheet" type="text/css"/>		
		<link 	th:href="@{'/webjars/jquery-ui/'+#{jquery.ui.version}+'/css/smoothness/jquery-ui-'+#{jquery.ui.version}+'.custom.min.css'}" rel="stylesheet" type="text/css"></link>	    
	    <link 	th:href="@{/resources/css/petclinic.css}" rel="stylesheet" type="text/css" />
	    <script th:src="@{'/webjars/jquery/'+#{jquery.version}+'/jquery.min.js'}"></script>		
		<script th:src="@{'/webjars/jquery-ui/'+#{jquery.ui.version}+'/js/jquery-ui-'+#{jquery.ui.version}+'.custom.min.js'}"></script>		
		<script th:src="@{'/webjars/bootstrap/'+#{bootstrap.version}+'/js/bootstrap.min.js'}"></script>
		<script th:src="@{/resources/js/petclinic.js}"></script>	    	     
    </head>
</html>


